/dev/keycloak/opt/keycloak/*
!/dev/keycloak/opt/keycloak/.gitkeep
/dev/nginx/var/log/*
!/dev/nginx/var/log/nginx/
/dev/postgres/var/lib/postgresql/data/*
!/dev/postgres/var/lib/postgresql/data/.gitkeep
